body{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1563212034-a3c52118cce2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNhbGN1bGF0b3J8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-repeat: repeat;
    
}

.main01{
    background-image: url("https://images.unsplash.com/photo-1554757387-2a28855c78fb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFnZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    justify-content: center;
    align-items: center;
}


.main-container{
    font-size: 25px;
    padding: 50px;
    box-shadow: 4px 2px  15px black; 
    border-top: 15px solid  rgb(56, 56, 56);
    border-bottom: 15px solid  black;
    border-bottom: 0;
}



.secondary-container{
    display: flex;
    margin: 50px auto;
}

.h11{
    letter-spacing: 2px;
    margin: 10px;
    white-space: nowrap;
}

input{
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 30px 0 30px 0;
    right: -15px;
    border-bottom:1px solid black;
    width: 35%;
}


.btn{
    width: 250px;
}

.footer{
    position: absolute;
    width: 100%;
    background-color: #fff;
}

a{
    margin: 8px 15px;
    background-color: transparent;
    text-decoration: none;
}



