body{
    height: 100vh;
    background-image: url("1.jpg");
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    
}

.main01{
    background-image: url("https://images.unsplash.com/photo-1588713444222-408f6d537ca3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fHBhZ2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    justify-content: center;
    align-items: center;
}


.main-container{
    font-size: 25px;
    padding: 50px;
    box-shadow: 2px 2px  15px black; 
    border-top: 15px solid  black;
    border-bottom: 15px solid  black;
    border-bottom: 0;
}

.secondary-container{
    display: flex;
    margin: 50px auto;
}

h1{
    letter-spacing: 1px;
    margin: 10px;
}

input{
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 30px 0 30px 0;
    right: -15px;
    border-bottom:1px solid black;
    width: 35%;
}


.btn{
    width: 250px;
}

.footer{
    position: absolute;
    width: 1010px;
    background-color: #fff;
}

a{
    margin: 8px 15px;
    background-color: transparent;
    text-decoration: none;
}



